MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123
PG_HOST=postgres-db
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=northwind
RAW_BUCKET=raw
BRONZE_BUCKET=bronze
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
SCHEMA_REGISTRY_URL=http://schema-registry:8081
KAFKA_CONNECT_URL=http://kafka-connect:8083
PAGERDUTY_ROUTING_KEY=your_pagerduty_integration_key_here